td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0px
}

table {
  margin: auto;
}

.unselected {
  background-color: grey;
}

.nextOption {
  background-color: cyan;
}

.valid {
  background-color: yellow;
}

.fail {
  background-color: red;
}

.end {
  background-color: green;
}

.reset {
  background-color: lightgrey;
}

.win {
  animation-name: win-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes win-animation {
  0% {
    background-color: hsl(0, 100%, 50%);
  }

  25% {
    background-color: hsl(90, 100%, 50%);
  }

  50% {
    background-color: hsl(180, 100%, 50%);
  }

  75% {
    background-color: hsl(270, 100%, 50%);
  }

  100% {
    background-color: hsl(0, 100%, 50%);
  }
}